{% extends '../../../../templates/base.html.twig' %}

{% block title %}Hello Neox geolocator Test Controller{% endblock %}

{% block content %}
	<div class="m-5">
		<div class="fancy-title title-border title-center symfony-wrapper">
			<h1>Hello {{ controller_name|default(" xorg") }}! ✅</h1>
		</div>
	</div>
	<div class="container" data-turbo="true">

	</div>

{% endblock %}
